/* Animations */
@keyframes slideRight {
  from {
    left: -50%;
  }

  to {
    left: 0px;
  }
}

@keyframes slideLeft {
  from {
    right: -50%;
  }

  to {
    right: 0px;
  }
}

@keyframes slideUp {
  from {
    margin-top: 50%;
  }

  to {
    top: 0px;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    top: -100vh;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate-text {
  display: inline-block;
  opacity: 0;
  /*transition: opacity 0.5s ease;*/
  transition: all 1s ease;
  transform: translateX(-4px);
  /* Slide effect (initial) */
}

.rotate-text.reveal {
  opacity: 1;
  transform: translateX(0);
  /* Reset slide */
}


/* Utilities */
.mix-blend-difference {
  mix-blend-mode: difference;
}

html.sr .load-hidden {
  visibility: hidden;
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 5px;
}

.border-right-0 {
  border-right: none !important;
}

.small,
small {
  font-size: 1.2rem;
}

.bg-white {
  background-color: #FFFFFFE0 !important;
}

.text-muted {
  /*opacity: .5;*/
  /*color: inherit !important;*/
  color: #7f7d7e !important;
}

.g-0 {
  --bs-gutter-x: 0 !important;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
}

.decoration-solid {
  text-decoration: solid;
  text-decoration-color: #F2EAE2;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.collapsing,
.collapse,
.show {
  -webkit-transition: none;
  transition: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-ul {
  margin-left: var(--fa-li-margin, 1.6rem);
}

.fa-li {
  left: calc(var(--fa-li-width, 2.4rem)* -1);
  /*text-align: left;*/
  width: var(--fa-li-width, 1.6rem);
}


/* Theme Styles */
:root {
  --viewport-height: 100%;
}

html,
body {
  font-size: 10px;
  color: #2A2829;
  font-family: 'Raleway', sans-serif;
}

body {
  /*padding-bottom: env(safe-area-inset-bottom);*/
}

p {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-bottom: 2rem;
  font-family: 'PT Sans', sans-serif;
}

ul {
  /*font-size: 1.6rem;*/
  /*font-family: 'PT Sans', sans-serif;*/
}

h1 {
  font-weight: 500;
  line-height: 1.125;
  margin-bottom: 3rem;
  font-size: 5.6rem;
  /*letter-spacing: .075rem;*/
  /*font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 6.4rem;*/
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  font-size: 2.4rem;
  position: relative;
  display: inline-block;
  z-index: 5;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h3::after,
h4::after {
  position: absolute;
  left: 0;
  bottom: 2px;
  /*opacity: .75;*/
  border-bottom: 4px solid #FFC800;
  width: 100%;
  /*content: "";*/
  z-index: -5;
}

h4::after {
  bottom: 0;
  border-bottom-color: transparent;
  /*width: 2rem;*/
  filter: grayscale(100%);
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.text-primary {
  color: #FFC800 !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-right: 4rem;
  padding-left: 4rem;
  position: relative;
}

.row {
  --bs-gutter-x: 2rem;
}


/* Header */
header {
  position: relative;
  /*background-image: url("./img/hero-bg.jpg");*/
  /*background-color: #FFC800;*/
  /*background-blend-mode: screen;*/
  /*background: linear-gradient(180deg, rgba(255, 200, 0, 1) 0%, rgba(255, 200, 0, 1) 50%, rgba(229, 180, 0, 1) 100%);*/
  background-color: rgba(255, 200, 0, 1);
  background-image: url("./img/bg-hero.gif");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  /*min-height: 100vh;*/

  .text-light {
    color: #F2EAE2 !important;
    /*color: unset !important;*/
    /*opacity: .5;*/
    /*font-weight: 600;*/
  }

  nav {
    height: 8rem;
    display: flex;
    background-color: #FFC800;
    /*background-color: transparent;*/
    /*position: fixed;*/

    .navbar-brand {
      /*display: none;*/
      padding-top: unset;
      padding-bottom: unset;
      margin-right: unset;
      font-size: 1.4rem;
      line-height: 1.2;

      a {
        color: #2A2829;
        text-decoration: none;
      }
    }

    ul.navbar-nav {
      align-self: center;
      margin-bottom: 0;

      li a {
        color: #2A2829;
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 700;
        letter-spacing: .025rem;
        text-decoration: none;
      }

      li a:hover,
      li a.active:hover {
        color: #2A2829;
        text-decoration: none;
      }

      li a:hover::after,
      li a:focus::after {
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: .75;
        border-bottom: 4px solid #F2EAE2;
        width: 100%;
        content: "";
      }

      li.active {
        /*text-decoration: underline;*/
      }
    }

    .list-inline-item {
      margin-right: 4rem !important;
      position: relative;
    }

    .list-inline-item:last-child {
      margin-right: 0 !important;
    }
  }

  nav.scroll {
    /*mix-blend-mode: difference;*/
    /*top: 0px;*/
    mix-blend-mode: normal;
    background-color: #FFC800;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);

    .container {
      width: 100% !important;
      max-width: 100% !important;
    }

    .navbar-brand {
      /*background-color: #FFFFFFE0;*/
      /*padding: 8px;*/
      display: block;
    }

    .text-light {
      color: #F2EAE2 !important;
      opacity: 1;
    }

    &:hover {
      .text-light {
        color: #F2EAE2 !important;
        opacity: 1;
      }

      navbar-brand a,
      ul li a,
      ul li a.active {
        color: #2A2829;
        text-decoration: unset;
      }
    }

  }

  #nav {
    transition: top 0.25s;
  }

  .navbar-brand {
    display: block;
  }

  nav.navbar {
    padding-top: unset;
    padding-bottom: unset;
  }

  .navbar-collapse {
    flex-grow: unset;
  }

  .container {
    /*padding-top: 8rem;*/
    height: 100vh;

    @supports (height: var(--)) {
      height: var(--viewport-height);
    }
  }
}

header::after {
  /*position: absolute;
  left: 0;
  bottom: 0;
  background-color: #F2EAE2;
  height: 8rem;
  width: 100%;
  content: "";*/
  content: "";
  position: absolute;
  z-index: 10;
  left: calc(50% - 20px);
  bottom: -2rem;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FFC800;
}

.navbar-light {
  .navbar-toggler {
    color: #2A2829;
    border-color: #2A2829;
    border-radius: unset;
    padding: 0.75rem;

    &:focus {
      box-shadow: unset;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42,40,41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}


/* Hero */
.hero {
  position: relative;
  /*padding-bottom: $size-xl;*/
  /*margin-top: 8rem;*/
  /*padding-top: 8rem;*/

  .hero-message {
    /*width: calc(100% - 16rem);*/
    /*margin: 0 auto;*/
    z-index: 10;
    /*position: absolute;*/
    /*top: 16rem;*/
    animation-name: slideRight;
    animation-duration: 1s;
    animation-delay: 0s;
    /*padding: 8rem 0 8rem 0;*/
    /*text-align: justify;*/

    p {
      font-size: 2.4rem;
      line-height: 1.2;
      margin-bottom: 0;
      width: 50%;
    }

    .role {
      display: block;
    }
  }

  .hero-img {
    position: relative;
    z-index: 5;
    float: right;
    width: calc(50% + 6rem);
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    animation-delay: 0s;
    display: none;

    img {
      width: 100%;
    }
  }
}


/* Back to top */
button#top {
  display: flex;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  outline: none;
  background-color: #FFC800BF;
  color: #FFFFFFE0;
  cursor: pointer;
  height: 3.2rem;
  width: 3.2rem;
  line-height: 3.2rem;
  /*border: solid 1px white;*/
  border: none;
  z-index: 10;
  font-size: 1.6rem;
  /*text-align: center;*/
  justify-content: center;
  align-items: center;
  /*opacity: 0;*/
}

#top {
  i {
    text-align: center;
  }

  &:hover {
    background-color: #FFC800;
    /*background-color: #2A2829;*/
    /*border: solid 1px $bg-primary;*/
  }

  img {
    height: 2rem;
  }
}

/* Projects */
#projects {
  scroll-margin-top: -4rem;
}

.projects {
  background-color: #F2EAE2;
  /*padding-top: 4rem;*/
  /*margin-top: -4rem;*/

  .projects-container {
    padding: 8rem 8rem;
    text-align: center;
  }

  .projects-container::after {
    content: "";
    position: absolute;
    z-index: 10;
    left: calc(50% - 20px);
    bottom: -2rem;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F2EAE2;
  }

  h3 {
    /*position: absolute;
  left: 8rem;
  top: -14.88rem;
  padding-top: 12rem;
  animation-name: slideRight;
  animation-duration: 1s;
  animation-delay: 0s;*/
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2rem), 1fr));
    gap: 4rem;
    align-items: stretch;
    animation-name: slideUp;
    animation-duration: 1.5s;
    animation-delay: 0s;
    /*margin-top: 4rem;*/

    .item {
      display: flex;
      position: relative;

      &:hover::after {
        /*content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: #FFFFFFBF;
        margin-top: -4rem;*/
      }

      a {
        align-self: center;

        figure {
          margin: 0;

          figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            text-transform: uppercase;
            font-size: 1.4rem;
            line-height: 1;
            font-weight: 700;
            color: #2A2829;
            background-color: #FFC802;
            display: inline-block;
            padding: 1rem;
            text-decoration: none;
            transition: all .25s ease;
          }
        }

        img {
          transition: .25s ease-in-out;

          &:hover {
            transform: scale(1.0125);
          }
        }
      }

      a.link {
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 4rem;
        width: 4rem;
        text-align: center;
        line-height: 4rem;
        font-size: 1.6rem;
        color: #F2EAE2;
        /*border-top: solid 1px #F2EAE2;*/
        /*border-left: solid 1px #F2EAE2;*/

        &:hover {
          background-color: #FFC800;
          color: #FFFFFFE0;
        }
      }

      img {
        width: 100%;
      }
    }

    .item-left {
      padding: 4rem 8rem 4rem 0;

      img {
        transform-origin: center left;
      }
    }

    .item-right {
      padding: 4rem 0 4rem 8rem;
      justify-content: flex-end;

      img {
        transform-origin: center right;
      }
    }

    .item-center {
      padding: 4rem 8rem;
      justify-content: center;

      img {
        border: solid 1rem #2A2829;
        border-radius: 2rem;
        transform-origin: center;
      }
    }
  }

  .pagination {
    margin: 4rem 0 0 0;

    li:not(:last-child) {
      margin-right: 0 !important;
    }

    button {
      background-color: transparent;
      border: none;
      color: #FFC800;
      font-size: 4rem;
      cursor: pointer;
      height: 4rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      /*transition: .75s ease-in-out;*/
      animation: rotate-animation 0s infinite linear;

      img {
        height: 4rem;
      }
    }

    button.reload:hover {
      rotate: .5turn;
      animation: rotate-animation 5s infinite linear;
    }

    .projects .pagination button.disabled {
      color: #F2EAE2;
    }
  }
}


.portfolio-wall {
  --bs-gutter-x: unset !important;
  position: relative;

  .overlay {
    width: 100%;
    height: 16rem;
    /*opacity: .75;*/
    background-color: #2A2829BF;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;

    .cta {
      margin-top: calc(8rem - 1.7rem);

      a {
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 700;
        color: #F2EAE2;
        background-color: #2A2829;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        transition: all .25s ease;

        &:hover {
          color: #2A2829;
          background-color: #FFC800;
        }
      }
    }
  }

  .mask {
    position: relative;
    height: 16rem;
    overflow: hidden;

    img {
      position: absolute;
      top: -15%;
      left: -30%;
      width: 150%;
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      transform: rotate(15deg);
    }
  }
}

.portfolio-wall>* {
  padding-right: unset !important;
  padding-left: unset !important;
}


/* About */
.bio-wall {
  --bs-gutter-x: 0 !important;
  background-image: url("./img/bg-bio-wall.gif");
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: bottom left;

  img {
    width: 100%;
    /*filter: grayscale(1);*/

    &:hover {
      filter: none;
    }
  }
}

.bio-wall>* {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


#about {
  padding-top: 8rem;
  padding-bottom: 6rem;
  scroll-margin-top: 0;
  background-color: #FFFFFFE0;
  position: relative;

  .about-container {
    padding: 0;
    width: 50%;
    margin: auto;

    .row {
      --bs-gutter-x: 8rem;
    }

    .content {
      /*width: 75%;*/
    }

    .title h3 {
      padding-bottom: 2rem;
      font-weight: 600;
    }

    p {
      font-size: 1.8rem;
      /*text-align: justify;*/
    }

    .content ul {
      font-size: 1.8rem;
      font-style: italic;
      font-family: 'PT Sans', sans-serif;
      margin-left: 2.4rem;
      margin-bottom: 2rem;
    }
  }

  .about-container::after {
    content: "";
    position: absolute;
    z-index: 10;
    left: calc(50% - 20px);
    bottom: -10rem;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FFFFFF;
  }
}


/* About Details */
.about-details {
  padding-top: 8rem;
  padding-bottom: 8rem;
  /*background: #FFFFFFE0;*/
  background-color: #2A2829;
  /*background: radial-gradient(circle, rgba(242, 234, 226, 1) 0%, #FFFFFFE0 75%);*/

  .about-details-container {
    padding: 0 8rem;
  }

  .row {
    margin-bottom: 8rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(22%), 1fr));
    gap: 4rem;
    align-items: stretch;

    .item {
      /*background-color: #FFFFFFE0;*/
      /*padding: 4rem 4rem 2.25rem 4rem;*/
      /*border-right: solid 2px #7f7d7e;*/
      padding-right: 4rem;
    }

    .item:last-child {
      border-right: none;
      padding-right: unset;
    }
  }

  h4 {
    color: #FFFFFFE0;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  ul {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #7f7d7e;

    li {
      margin-bottom: 1.5rem;

      a {
        color: unset;
        text-decoration: none;

        &:hover {
          color: #2A2829;
        }
      }
    }
  }
}

.about-details ul li.pill-item,
ul li.pill-item {
  padding: .5rem 1rem;
  border-radius: 2rem;
  border: solid 1px #7f7d7e;
  margin-right: .75rem;
  /*line-height: 1;*/
  font-size: 1.4rem;
}


/* Connect */
.connect {
  li {
    /*background-color: #FFC800;*/
    background-color: #2A2829;
    height: 3.2rem;
    width: 3.2rem;
    line-height: 3.2rem;
    font-size: 0;
    mix-blend-mode: darken;

    a {
      text-decoration: none;
      color: #F2EAE2;
    }

    &:hover {
      mix-blend-mode: unset;
      /*background-color: #2A2829;*/
    }

    img {
      max-height: 1.6rem;
      line-height: 3.2rem;
    }

    i {
      font-size: 1.6rem;
      line-height: 3.2rem;
      color: #F2EAE2;
    }

    a .text {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  li.list-inline-item:not(:last-child) {
    margin-right: 1rem !important;
  }

  li:last-child {
    /*top: -6px;*/
    /*position: relative;*/
  }
}


/* Modal */
.modal-backdrop.show {
  opacity: .75 !important;
  background-color: #2A2829 !important;
}

.modal-container {
  padding-left: 0;
  padding-right: 0;

  .modal-header {
    background-color: transparent;
    align-items: unset;
    padding: 3rem 3rem 0 0;
    border-bottom: none;
    z-index: 2;
    position: absolute;
    width: 100%;
  }

  .modal-body {
    padding: 0 4rem;

    .hero-modal {
      background-color: #F2EAE2;
      padding-top: 8rem;

      h2 {
        font-size: 3.6rem;
        font-family: 'Raleway', sans-serif;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 2rem;
      }

      h4 {
        font-family: 'PT Sans', sans-serif;
        text-transform: unset;
        font-weight: 500;
        font-size: 2rem;
      }

      .item-left {
        /*padding: 0 4rem 0 0;*/
        padding: 0;
      }

      .item-right {
        padding: 0 0 0 4rem;

        figure {
          flex-direction: row-reverse;
        }
      }

      .item-center {
        padding: 0 4rem 4rem 4rem;

        figure img {
          max-height: calc(100vh - 16rem);
        }
      }

      figure img {
        /*max-width: calc(50% - 2rem) !important;*/
        width: calc(50% - 2rem) !important;
        border: unset;
        border-radius: unset;
      }
    }
  }
}

.projects .grid .item .modal-container figure img:hover {
  transform: unset;
}

.modal-header .btn-close {
  --bs-btn-close-opacity: 1;
  --bs-btn-close-hover-opacity: 1;
  --bs-btn-close-focus-shadow: none;
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 1;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  border: 0;
  border-radius: unset;
  background: none;
  background-color: #FFC800BF;
  opacity: 1;
  color: #FFFFFFE0;
  font-size: 1.6rem;

  &:hover {
    background-color: #FFC800;
  }
}

.modal-container .modal-body {
  .hero-modal {
    figure figcaption {
      margin-left: 4rem;
      margin-right: 4rem;
      margin-bottom: 8rem;
      text-align: left;

      p {
        font-size: 2rem;
        line-height: 1.2;
        margin-top: 1rem;
      }
    }

    .item-right figure figcaption {
      margin-left: 0;
      margin-right: 4rem;
    }
  }

  article {
    margin-top: 4rem;
    /*width: 50%;*/
    margin-left: unset;
    margin-right: unset;
    text-align: left;

    .details {
      margin-bottom: 3rem;
      width: calc(50% - 4rem);
      margin-right: 4rem;

      .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
      }
    }

    .media {
      /*margin-bottom: 4rem;*/
      width: calc(50% + 2rem);
      padding: unset;
      margin-left: -2rem;
      position: relative;
      right: -4rem;
      top: -8rem;
      margin-bottom: -8rem;

      img {
        border-radius: 1rem;
        border: none !important;
      }

      figure:first-child {
        padding-top: 4rem;
      }

      figure {
        background-color: #2A2829;
        padding: 0 4rem 4rem 4rem;
      }

      a:hover img {
        opacity: .9125;
      }
    }

    p {
      margin-bottom: 4rem;
      color: #7f7d7e;
    }

    ul li {
      margin-bottom: 1rem;
      color: #7f7d7e;
      font-family: 'PT Sans', sans-serif;
      font-size: 1.4rem;
      line-height: 1.2;
    }
  }

  h3 {
    display: unset;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.125;
  }

  p {
    line-height: 1.75;
    font-size: 1.6rem;
  }
}


/* Footer */
footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #FFC800;
  position: relative;
  z-index: 15;
  /*background-color: #F2EAE2;*/

  .footer-container {
    /*padding: 0 8rem;*/
  }

  .footer-left {
    font-size: 0;
    mix-blend-mode: multiply;
    /*color: #7f7d7e;*/
  }

  .icons-list {
    font-size: 0;
    /*margin-bottom: 2rem;*/

    li {
      font-size: 1.6rem;
      line-height: 1;
      /*opacity: .67;*/
      /*color: #FFFFFFE0;*/

      &:hover {
        /*opacity: 1;*/
      }
    }
  }

  ul {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1;

    strong {
      font-weight: 500;
    }

    a {
      color: inherit;
      /*opacity: .5;*/
      /*text-decoration: none;*/

      &:hover {
        opacity: 1;
        color: #2A2829;
      }
    }
  }

  .source-code {
    border-left: solid 1px #7f7d7e80;
    margin-left: 1rem;
  }
}


/* Bootstrap Responsive Breakpoints */
@media (min-width: 576px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    /*max-width: 1366px;*/
    max-width: 1440px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    /*max-width: 1366px;*/
    max-width: 1440px;
  }
}

/* Max-width Responsive Breakpoints */
@media (max-width: 1439.98px) {
  .portfolio-wall .mask img {
    width: 175%;
  }
}

@media (max-width: 1279.98px) {
  .portfolio-wall .mask img {
    top: -10%;
  }

  .about-details .grid {
    grid-template-columns: repeat(auto-fill, minmax(calc(18%), 1fr));
    gap: 4rem;
  }

  #about .about-container p {
    text-align: unset;
  }
}

@media (max-width: 1199.98px) {
  #about .about-container {
    width: unset;
    padding: 0 8rem;
  }

  .bio-wall {
    div:first-child {
      display: none;
    }

    .col-2 {
      width: 25%;
    }

    .col-4 {
      width: 50%;
    }
  }

  .hero {
    .hero-message p {
      width: unset;
    }

    .hero-img {
      margin-right: -4rem;
      width: calc(50% + 10rem);
    }
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h4 {
    /*font-size: 1.4rem;*/
  }

  .about-details h4 {
    font-size: 1.8rem;
  }

  .projects .grid {
    .item-left {
      padding: 4rem 4rem 4rem 0;
    }

    .item-center {
      padding: 4rem 4rem;
    }

    .item-right {
      padding: 4rem 0 4rem 4rem;
    }
  }
}

@media (max-width: 1094.98px) {
  .portfolio-wall .mask img {
    width: 200%;
  }

  .about-details .grid {
    grid-template-columns: repeat(auto-fill, minmax(calc(31%), 1fr));

    .item:nth-child(2) {
      border-right: none;
      padding-right: unset;
    }
  }

  h1 {
    font-size: 4.2rem;
  }

  h2,
  h3,
  .hero .hero-message p {
    font-size: 2rem;
  }
}

@media (max-width: 991.98px) {
  .portfolio-wall {
    .mask img {
      top: -5%;
    }

    .mask:first-child,
    .mask:nth-last-child(2) {
      display: none;
    }

    .overlay,
    .mask {
      height: 12rem;
    }

    .overlay .cta {
      margin-top: calc(6rem - 1.7rem);
    }
  }

  .modal-container .modal-body article {
    width: 100%;
    padding-left: unset;
    padding-right: unset;

    .details {
      width: 100%;
      margin-right: unset;
      padding: 0 4rem;

      .sticky {
        top: unset;
      }
    }

    .media {
      width: 100%;
      margin-left: unset;
      right: unset;
      top: unset;
      margin-bottom: unset;
    }
  }

  h1 {
    font-size: 3.6rem;
    letter-spacing: unset;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  .hero .hero-message {
    /*width: calc(50% + 4rem);*/

    .role {
      /*display: unset;*/
    }
  }

  .projects {
    .projects-container {
      padding: 4rem 4rem;
    }

    h3 {
      /*left: 4rem;*/
    }
  }


  #about .about-container {
    width: unset;

    .content {
      /*width: 75%;*/
    }

    .row {
      --bs-gutter-x: 4rem;
    }
  }

  #about .about-container,
  .about-details .about-details-container {
    padding: 0 4rem;
  }

  .about-details .grid {
    gap: 4rem;
    /*grid-template-columns: repeat(auto-fill, minmax(calc(17%), 1fr));*/
  }
}

@media (max-width: 879.98px) {
  .connect.desktop {
    display: none !important;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    /*font-size: 1.8rem;*/
  }

  h3 {
    /*font-size: 2.1rem;*/
  }

  .hero .hero-message {
    /*width: calc(50%);*/
    /*top: 12rem;*/
  }
}

@media (max-width: 823.98px) {
  .about-details .grid {
    gap: 4rem;
    /*grid-template-columns: repeat(auto-fill, minmax(calc(30%), 1fr));*/
  }

  .projects .grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    /*margin-top: 4rem;*/
  }

  .modal-container .modal-header {
    /*padding: 1.5rem 2rem 1.5rem 0;*/
  }

  .modal-container .modal-body .hero-modal {
    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-right: 8rem;

    h2 {
      font-size: 2.8rem;
    }

    figure {
      display: unset !important;

      figcaption {
        margin-top: 4rem;
        margin-bottom: unset;
        margin-right: unset;
        /*text-align: center;*/
      }

      img {
        width: 100% !important;
        max-width: unset !important;
        max-height: unset !important;
      }
    }

    .item-center figure figcaption {
      margin-left: 0;
    }

    .item-center,
    .item-right {
      padding-bottom: 0;
    }
  }
}

@media (max-width: 767.98px) {

  header::after {
    /*display: none;*/
  }

  .hero .hero-message {
    position: relative;
    top: unset;
    /*padding: 4rem 0 8rem 0;*/
    width: 100%;
  }

  .hero .hero-img {
    display: none;
  }

  .projects h3 {
    position: relative;
    left: unset;
    top: unset;
    padding-top: unset;
  }

  .projects .grid {
    /*grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    margin-top: 4rem;*/
  }

  .projects .grid .item-left {
    padding: 4rem 8rem 4rem 0;
  }

  .projects .grid .item-center {
    padding: 4rem 8rem;
  }

  .projects .grid .item-right {
    padding: 4rem 0 4rem 8rem;
  }

  .about-details .row {
    margin-bottom: 0;
  }

  .about-details ul {
    /*margin-bottom: 4.25rem;*/
  }

  #about .about-container .title {
    /*margin-bottom: 2rem;*/
    width: unset;
  }

  #about .about-container .content {
    width: 100%;
  }
}

@media (max-width: 575.98px) {

  .portfolio-wall .mask:nth-last-child(3),
  .portfolio-wall .mask:nth-last-child(4) {
    display: none;
  }

  .modal-container .modal-body .hero-modal {
    padding-right: 4rem;
  }

  .bio-wall .col-2,
  .bio-wall .col-4 {
    width: 100%;
    display: none;
  }

  .bio-wall .col-2.mobile {
    display: unset;
  }

  .connect.desktop {
    display: none !important;
  }

  .projects .grid .item a.link {
    border-top: unset;
    border-left: unset;
  }

  header nav.scroll {
    mix-blend-mode: normal;
    background-color: #FFC800;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5)
  }

  header nav.scroll .navbar-brand a,
  header nav.scroll ul li a,
  header nav.scroll ul li a.active {
    color: #2A2829;
  }

  header nav.scroll .text-light {
    color: #F2EAE2 !important;
    opacity: 1;
  }

  .about-details ul {
    margin-bottom: 4.25rem;
  }

  .modal-container .modal-body {
    article .media figure {
      padding: 0 2rem 2rem 2rem;
    }

    .hero-modal {
      h2 {
        font-size: 2.4rem;
      }

      h4 {
        font-size: 1.8rem;
      }
    }
  }

  header nav .navbar-collapse {
    position: absolute;
    background-color: #FFC800F7;
    top: 5.8rem;
    /*top: -2.2rem;*/
    left: 0px;
    width: 100%;
    /*padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 100vh;*/
    padding: 4rem 4rem 100vh 4rem;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
    box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
  }

  header nav .list-inline-item {
    margin-right: 0 !important;
    margin-bottom: 3rem;

  }

  header nav ul.navbar-nav li a {
    font-size: 2.4rem;
    font-weight: 500;
  }

  header nav .navbar-nav {
    display: table-caption;
  }

  h1 {
    font-size: 2.8rem;
  }

  #projects,
  #about {
    scroll-margin-top: 4rem;
  }

  .projects .grid {
    .item-left {
      padding: 4rem 2rem 4rem 0;
    }

    .item-center {
      padding: 4rem 2rem;
    }

    .item-right {
      padding: 4rem 0 4rem 2rem;
    }
  }

  #about {
    padding-bottom: 6rem;
  }

  .about-details {
    padding-bottom: 2.25rem;

    .grid::before {
      content: "";
      display: block;
      /*border-top: solid 4px #7f7d7e;*/
      /*margin-bottom: 4rem;*/
    }

    .grid {
      grid-template-columns: repeat(auto-fill, minmax(calc(100%), 1fr));
      display: unset;

      .item {
        border-right: none;
        padding-right: unset;
      }
    }
  }

  .footer-container {
    display: unset !important;
  }

  .footer-left,
  .footer-right {
    justify-content: center !important;
  }

  .footer-left {
    /*margin-bottom: 2rem;*/
  }

  header .container {
    /*height: unset;
    padding-top: 16rem;
    padding-bottom: 8rem;*/
  }
}

@media (max-width: 413.98px) {

  footer {
    padding: .65rem 0;
  }

  footer .footer-left,
  footer .footer-left p,
  footer .footer-left ul {
    /*text-align: center;*/
    /*display: none !important;*/
    /*display: block !important;*/
  }

  footer .footer-left ul {
    /*margin: .75rem 0 1.5rem 0;*/
  }

  footer .source-code {
    display: none !important;
    /*display: block !important;*/
    border-left: none;
    margin-left: 0;
  }

  footer .source-code .m-2 {
    margin: 0 !important;
  }
}

@media (max-height: 575.98px) {
  header .container {
    /*height: unset;
    padding-top: 16rem;
    padding-bottom: 8rem;*/
  }
}