/* Sass Variables */
/* Animations */
@keyframes slideRight {
  from {
    left: -50%;
  }

  to {
    left: 0px;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Utilities */
.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 5px;
}

.border-right-0 {
  border-right: none !important;
}

.small,
small {
  font-size: 1.2rem;
}

.bg-white {
  background-color: #FFFFFFE0 !important;
}

.text-muted {
  /*opacity: .5;*/
  /*color: inherit !important;*/
  color: #7f7d7e !important;
}

.collapsing,
.collapse,
.show {
  -webkit-transition: none;
  transition: none;
}

/* Theme Styles */
html,
body {
  font-size: 10px;
  color: #2A2829;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-bottom: 2rem;
}

h1 {
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 3rem;
  font-size: 5.6rem;
  letter-spacing: .075rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  font-size: 2.4rem;
  position: relative;
  display: inline-block;
  z-index: 5;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h3::after,
h4::after {
  position: absolute;
  left: 0;
  bottom: 2px;
  /*opacity: .75;*/
  border-bottom: 4px solid #FFC800;
  width: 100%;
  content: "";
  z-index: -5;
}

h4::after {
  bottom: 0;
  border-bottom-color: transparent;
  /*width: 2rem;*/
  filter: grayscale(100%);
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-right: 4rem;
  padding-left: 4rem;
  position: relative;
}

.row {
  --bs-gutter-x: 2rem;
}

/* Header */
header {
  background-color: #FFC800;
  position: relative;
}

header .text-light {
  color: #F2EAE2 !important;
}

header nav {
  height: 8rem;
  display: flex;
  background-color: #FFC800;
  /*position: fixed;*/
}

header nav .navbar-brand {
  /*display: none;*/
  padding-top: unset;
  padding-bottom: unset;
  margin-right: unset;
  font-size: 1.4rem;
  line-height: 1.2;
}

header nav .navbar-brand a {
  color: #2A2829;
  text-decoration: none;
}

header nav ul {
  align-self: center;
  margin-bottom: 0;
}

header nav ul li a,
header nav ul li a.active {
  color: #2A2829;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: .025rem;
  text-decoration: none;
}

header nav ul li a:hover,
header nav ul li a.active:hover {
  color: #2A2829;
  text-decoration: none;
}

header nav ul li a:hover::after,
header nav ul li a.active:hover::after {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: .75;
  border-bottom: 4px solid #F2EAE2;
  width: 100%;
  content: "";
}

header nav ul li.active {
  /*text-decoration: underline;*/
}

header nav .list-inline-item {
  margin-right: 4rem !important;
  position: relative;
}

header nav .list-inline-item:last-child {
  margin-right: 0 !important;
}

header nav.box-shadow {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
}

header nav.box-shadow .navbar-brand {
  display: block;
}

header nav.box-shadow .navbar-brand a {
  color: inherit;
  text-decoration: unset;
}

header nav.navbar {
  padding-top: unset;
  padding-bottom: unset;
}

header .navbar-collapse {
  flex-grow: unset;
}

header::after {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #F2EAE2;
  height: 8rem;
  width: 100%;
  content: "";
}

.navbar-light .navbar-toggler {
  color: #2A2829;
  border-color: #2A2829;
  border-radius: unset;
  padding: 0.75rem;
}

.navbar-light .navbar-toggler:focus {
  box-shadow: unset;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42,40,41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Hero */
.hero {
  position: relative;
  /*padding-bottom: $size-xl;*/
  margin-top: 8rem;
}

.hero .hero-message {
  width: calc(50% + 6rem);
  z-index: 10;
  position: absolute;
  top: 8rem;
  animation-name: slideRight;
  animation-duration: 1s;
  animation-delay: 0s;
}

.hero .hero-message .role {
  display: block;
}

.hero .hero-img {
  position: relative;
  z-index: 5;
  float: right;
  width: calc(50% + 6rem);
}

.hero .hero-img img {
  width: 100%;
}

/* Back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  outline: none;
  /*background-color: #F2EAE2;*/
  background-color: #FFC800;
  color: #FFFFFFE0;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  line-height: 3.8rem;
  /*border: solid 1px white;*/
  border: none;
  z-index: 10;

  opacity: 0;
}

#myBtn:hover {
  /*background-color: #FFC800;*/
  background-color: #2A2829;
  /*border: solid 1px $bg-primary;*/
}

#myBtn img {
  height: 2rem;
}

/* Projects */
#projects {
  scroll-margin-top: 120px;
}

.projects {
  background-color: #F2EAE2;
  padding-top: 4rem;
  margin-top: -4rem;
}

.projects .projects-container {
  padding: 4rem 8rem;
}

.projects h3 {
  position: absolute;
  left: 8rem;
  top: -14.88rem;
  padding-top: 12rem;
}

.projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2rem), 1fr));
  gap: 4rem;
  align-items: stretch;
}

.projects .grid .item {
  display: flex;
}

.projects .grid .item a {
  align-self: center;
}

.projects .grid .item img:hover {
  transform: scale(1.0125);
  transition: .25s ease-in-out;
}

.projects .grid .item img {
  width: 100%;
}

.projects .grid .item-left {
  padding: 4rem 8rem 4rem 0;
}

.projects .grid .item-left img {
  transform-origin: center left;
}

.projects .grid .item-right {
  padding: 4rem 0 4rem 8rem;
  justify-content: flex-end;
}

.projects .grid .item-right img {
  transform-origin: center right;
}

.projects .grid .item-center {
  padding: 4rem 8rem;
  justify-content: center;
}

.projects .grid .item-center img {
  border: solid 1rem #2A2829;
  border-radius: 2rem;
  transform-origin: center;
}

.projects .pagination {
  margin: 4rem 0 0 0;
}

.projects .pagination li:not(:last-child) {
  margin-right: 0 !important;
}

.projects .pagination button {
  background-color: transparent;
  border: none;
  color: #FFC800;
  font-size: 4rem;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: .75s ease-in-out;*/
  animation: rotate-animation 0s infinite linear;
}

.projects .pagination button img {
  height: 4rem;
}

.projects .pagination button.reload:hover {
  /*rotate: .5turn;*/
  animation: rotate-animation 5s infinite linear;
}

.projects .pagination button.disabled {
  color: #F2EAE2;
}

/* About */
#about {
  padding-top: 8rem;
  padding-bottom: 6rem;
  scroll-margin-top: 80px;
  background-color: #FFFFFFE0;
}

#about .about-container {
  padding: 0 8rem;
}

#about .about-container .row {
  --bs-gutter-x: 8rem;
}

#about .about-container .content {
  width: 50%;
}


/* About Details */
.about-details {
  /*padding-top: 8rem;*/
  padding-bottom: 6.25rem;
  background: #FFFFFFE0;
  /*background: radial-gradient(circle, rgba(242, 234, 226, 1) 0%, #FFFFFFE0 75%);*/
}

.about-details .about-details-container {
  padding: 0 8rem;
}

.about-details .row {
  margin-bottom: 8rem;
}

.about-details .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(15%), 1fr));
  gap: 8rem;
  align-items: stretch;
}

.about-details .grid .item {
  background-color: #FFFFFFE0;
  /*padding: 4rem 4rem 2.25rem 4rem;*/

  /*box-shadow: 0 5px 5px 0px rgba(242,234,226,1);
-webkit-box-shadow: 0 5px 5px 0px rgba(242,234,226,1);
-moz-box-shadow: 0 5px 5px 0px rgba(242,234,226,1);*/
}

.about-details ul {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #7f7d7e;
}

.about-details ul li {
  margin-bottom: .75rem;
}

.about-details ul li a {
  color: unset;
  text-decoration: none;
}

.about-details ul li a:hover {
  color: #2A2829;
}


/* Connect */
.connect li.list-inline-item:not(:last-child) {
  margin-right: 1rem !important;
}

.connect li {
  background-color: #FFC800;
  height: 3.2rem;
  width: 3.2rem;
  line-height: 3.2rem;
}

.connect li:hover {
  background-color: #2A2829;
}

.connect li img {
  max-height: 1.6rem;
}

.connect li i {
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #FFFFFFE0;
}

/* Modal */
.modal-container {
  padding-left: 0;
  padding-right: 0;
}

.modal-container .modal-header {
  background-color: #F2EAE2;
  align-items: unset;
  padding: 2rem 4rem 2rem 0;
  border-bottom: none;
}

.modal-container .modal-body {
  padding: 0 4rem;
}

.modal-container .modal-body .hero-modal img {
  width: 50% !important;
}


/* Footer */
footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #F2EAE2;
}

footer .footer-container {
  /*padding: 0 8rem;*/
}

footer .footer-left {
  font-size: 0;
}

footer .icons-list {
  font-size: 0;
  /*margin-bottom: 2rem;*/
}

footer ul {
  margin-bottom: 0;
}

footer .icons-list li {
  opacity: .5;
  font-size: 1.6rem;
  line-height: 1;
  ;
}

footer .icons-list li:hover {
  opacity: 1;
}

footer p {
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

footer p strong {
  font-weight: 500;
}

footer p a {
  color: inherit;
  opacity: .5;
  /*text-decoration: none;*/
}

footer p a:hover {
  opacity: 1;
  color: #2A2829;
}

footer .source-code {
  border-left: solid 1px #FFFFFFE0;
  margin-left: 1rem;
}


/* Bootstrap Responsive Breakpoints */
@media (min-width: 576px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1366px !important;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1366px;
  }
}

/* Max-width Responsive Breakpoints */
@media (max-width: 1199.98px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  .hero .hero-img {
    margin-right: -4rem;
    width: calc(50% + 10rem);
  }

  .projects .grid .item-left {
    padding: 4rem 4rem 4rem 0;
  }

  .projects .grid .item-center {
    padding: 4rem 4rem;
  }

  .projects .grid .item-right {
    padding: 4rem 0 4rem 4rem;
  }
}

@media (max-width: 1094.98px) {
  h1 {
    font-size: 4.2rem;
  }

  h2,
  h3 {
    font-size: 2.1rem;
  }
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 3.6rem;
    letter-spacing: unset;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  .hero .hero-message {
    width: calc(50% + 4rem);
  }

  .hero .hero-message .role {
    display: unset;
  }

  .projects .projects-container {
    padding: 4rem 4rem;
  }

  .projects h3 {
    left: 4rem;
  }

  #about .about-container,
  .about-details .about-details-container {
    padding: 0 4rem;
  }

  #about .about-container .content {
    width: 75%;
  }

  #about .about-container .row {
    --bs-gutter-x: 4rem;
  }

  .about-details .grid {
    grid-template-columns: repeat(auto-fill, minmax(calc(17%), 1fr));
    gap: 4rem;
  }
}

@media (max-width: 879.98px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 2.1rem;
  }

  .hero .hero-message {
    width: calc(50% + 4rem);
    top: 4rem;
  }
}

@media (max-width: 823.98px) {
  .about-details .grid {
    grid-template-columns: repeat(auto-fill, minmax(calc(30%), 1fr));
    gap: 4rem;
  }
}

@media (max-width: 767.98px) {
  header::after {
    display: none;
  }

  .hero .hero-message {
    position: relative;
    top: unset;
    padding: 4rem 0;
    width: 100%;
  }

  .hero .hero-img {
    display: none;
  }

  .projects h3 {
    position: relative;
    left: unset;
    top: unset;
    padding-top: unset;
  }

  .projects .grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    margin-top: 4rem;
  }

  .projects .grid .item-left {
    padding: 4rem 8rem 4rem 0;
  }

  .projects .grid .item-center {
    padding: 4rem 8rem;
  }

  .projects .grid .item-right {
    padding: 4rem 0 4rem 8rem;
  }

  .about-details .row {
    margin-bottom: 0;
  }

  .about-details ul {
    margin-bottom: 4.25rem;
  }

  #about .about-container .title {
    margin-bottom: 2rem;
    width: unset;
  }

  #about .about-container .content {
    width: 100%;
  }


}

@media (max-width: 575.98px) {
  header nav .navbar-collapse {
    position: absolute;
    background-color: #FFC800F7;
    top: 5.8rem;
    left: 0px;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    /*padding-bottom: 1rem;*/
    padding-bottom: 100vh;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
    box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
  }

  header nav .list-inline-item {
    margin-right: 0 !important;
    margin-bottom: 1rem;
    font-size: 2.8rem;
  }

  header nav .navbar-nav {
    display: table-caption;
  }

  h1 {
    font-size: 2.8rem;
  }

  #projects,
  #about {
    scroll-margin-top: 4rem;
  }

  .projects .grid .item-left {
    padding: 4rem 2rem 4rem 0;
  }

  .projects .grid .item-center {
    padding: 4rem 2rem;
  }

  .projects .grid .item-right {
    padding: 4rem 0 4rem 2rem;
  }

  #about {
    padding-bottom: 2rem;
  }

  .about-details {
    padding-bottom: 2.25rem;
  }

  .about-details .grid::before {
    content: "";
    display: block;
    border-top: solid 4px #F2EAE2;
    margin-bottom: 4rem;
  }

  .about-details .grid {
    grid-template-columns: repeat(auto-fill, minmax(calc(100%), 1fr));
    display: unset;
  }

  .footer-container {
    display: unset !important;
  }

  .footer-left,
  .footer-right {
    justify-content: center !important;
  }

  .footer-left {
    margin-bottom: 2rem;
  }
}


@media (max-width: 413.98px) {

  footer .footer-left,
  footer .footer-left p,
  footer .footer-left ul {
    display: block !important;
    text-align: center;
  }

  footer .footer-left ul {
    margin: .75rem 0 1.5rem 0;
  }

  footer .source-code {
    display: block !important;
    border-left: none;
    margin-left: 0;
  }

  footer .source-code .m-2 {
    margin: 0 !important;
  }
}