/* Sass Variables */
/* Animations */
@keyframes slideRight {
  0% {
    left: -50%;
  }
  100% {
    left: 0px;
  }
}
/* Utilities */
.ml-auto {
  margin-left: auto;
}

.small,
small {
  font-size: 1.2rem;
}

/* Theme Styles */
html,
body {
  font-size: 10px;
  color: #2A2829;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-bottom: 2rem;
}

h1 {
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 3rem;
  font-size: 5.6rem;
  letter-spacing: .075rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  font-size: 2.4rem;
  position: relative;
  display: inline-block;
  z-index: 5;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h3::after {
  position: absolute;
  left: 0;
  bottom: 2px;
  /*opacity: .75;*/
  border-bottom: 4px solid #FFC800;
  width: 100%;
  content: "";
  z-index: -5;
}

p {
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-right: 4rem;
  padding-left: 4rem;
  position: relative;
}

/* Header */
header {
  background-color: #FFC800;
  position: relative;
}
header .text-light {
  color: #F2EAE2 !important;
}
header nav {
  height: 8rem;
  display: flex;
  background-color: #FFC800;
  /*position: fixed;*/
}
header nav .navbar-brand {
  display: none;
  padding-top: unset;
  padding-bottom: unset;
  margin-right: unset;
  font-size: 1.4rem;
  line-height: 1.2;
}
header nav ul {
  align-self: center;
  margin-bottom: 0;
}
header nav ul li a {
  color: #2A2829;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: .025rem;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #2A2829;
  text-decoration: none;
}
header nav ul li a:hover::after {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: .75;
  border-bottom: 4px solid #F2EAE2;
  width: 100%;
  content: "";
}
header nav ul li.active {
  /*text-decoration: underline;*/
}
header nav .list-inline-item {
  margin-right: 4rem !important;
  position: relative;
}
header nav .list-inline-item:last-child {
  margin-right: 0 !important;
}
header nav.box-shadow {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(152, 139, 76, 0.5);
}
header nav.box-shadow .navbar-brand {
  display: block;
}
header nav.box-shadow .navbar-brand a {
  color: inherit;
  text-decoration: unset;
}
header nav.navbar {
  padding-top: unset;
  padding-bottom: unset;
}
header .navbar-collapse {
  flex-grow: unset;
}

header::after {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #F2EAE2;
  height: 8rem;
  width: 100%;
  content: "";
}

.navbar-light .navbar-toggler {
  color: #2A2829;
  border-color: #2A2829;
  border-radius: unset;
  padding: 0.75rem;
}
.navbar-light .navbar-toggler:focus {
  box-shadow: unset;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42,40,41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Hero */
.hero {
  position: relative;
  /*padding-bottom: 8rem;*/
  margin-top: 8rem;
}
.hero .hero-message {
  width: calc(50% + 6rem);
  z-index: 10;
  position: absolute;
  top: 8rem;
  animation-name: slideRight;
  animation-duration: 1s;
  animation-delay: 0s;
}
.hero .hero-message .role {
  display: block;
}
.hero .hero-img {
  position: relative;
  z-index: 5;
  float: right;
  width: calc(50% + 6rem);
}
.hero .hero-img img {
  width: 100%;
}

/* Back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  outline: none;
  background-color: #F2EAE2;
  color: white;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  line-height: 3.8rem;
  border: solid 1px white;
  z-index: 10;
}
#myBtn:hover {
  background-color: #FFC800;
  /*border: solid 1px $bg-primary;*/
}
#myBtn img {
  height: 2rem;
}

/* Projects */
.projects {
  background-color: #F2EAE2;
  padding-top: 4rem;
  margin-top: -4rem;
}
.projects .projects-container {
  padding: 4rem 8rem;
}
.projects h3 {
  position: absolute;
  left: 8rem;
  top: -14.88rem;
  padding-top: 12rem;
}
.projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2rem), 1fr));
  gap: 4rem;
  align-items: stretch;
}
.projects .grid .item {
  display: flex;
}
.projects .grid .item a {
  align-self: center;
}
.projects .grid .item img {
  width: 100%;
}
.projects .grid .item-left {
  padding: 4rem 8rem 4rem 0;
}
.projects .grid .item-right {
  padding: 4rem 0 4rem 8rem;
  justify-content: flex-end;
}
.projects .grid .item-center {
  padding: 4rem 8rem;
  justify-content: center;
}
.projects .grid .item-center img {
  border: solid 1rem #2A2829;
  border-radius: 2rem;
}
.projects .pagination {
  margin: 4rem 0 0 0;
}
.projects .pagination li:not(:last-child) {
  margin-right: 0 !important;
}
.projects .pagination button {
  background-color: transparent;
  border: none;
  color: #FFC800;
  font-size: 4rem;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  transition: .75s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center img;
  align-items-height: 4rem;
}
.projects .pagination button.reload:hover {
  rotate: .5turn;
}
.projects .pagination button.disabled {
  color: #F2EAE2;
}

/* About */
#about {
  padding-top: calc(8rem - 2rem);
}
#about .about-container {
  padding: 0 8rem;
}
#about .about-container .content {
  width: 50%;
}

/* Connect */
.connect {
  margin-top: 6rem;
  margin-bottom: 8rem;
}
.connect li {
  background-color: #FFC800;
  height: 3.2rem;
  width: 3.2rem;
  line-height: 3.2rem;
  margin-right: 1rem !important;
}
.connect li:hover {
  background-color: #2A2829;
}
.connect li img {
  max-height: 1.6rem;
}

/* Modal */
.modal-container {
  padding-left: 0;
  padding-right: 0;
}
.modal-container .modal-header {
  background-color: #F2EAE2;
  align-items: unset;
  padding: 2rem 4rem 2rem 0;
  border-bottom: none;
}
.modal-container .modal-body {
  padding: 0 4rem;
}
.modal-container .modal-body .hero-modal img {
  width: 50% !important;
}

/* Footer */
footer .footer-container {
  padding: 0 8rem;
}
footer .icons-list {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
footer .icons-list li {
  opacity: .5;
}
footer .icons-list li:hover {
  opacity: 1;
}

/* Bootstrap Responsive Breakpoints */
@media (min-width: 576px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1366px !important;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1366px;
  }
}
/* Max-width Responsive Breakpoints */
@media (max-width: 1199.98px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  .hero .hero-img {
    margin-right: -4rem;
    width: calc(50% + 10rem);
  }

  .projects .grid .item-left {
    padding: 4rem 4rem 4rem 0;
  }

  .projects .grid .item-center {
    padding: 4rem 4rem;
  }

  .projects .grid .item-right {
    padding: 4rem 0 4rem 4rem;
  }
}
@media (max-width: 1094.98px) {
  h1 {
    font-size: 4.2rem;
  }

  h2,
  h3 {
    font-size: 2.1rem;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 3.6rem;
    letter-spacing: unset;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  .hero .hero-message {
    width: calc(50% + 4rem);
  }
  .hero .hero-message .role {
    display: unset;
  }

  .projects .projects-container {
    padding: 4rem 4rem;
  }

  .projects h3 {
    left: 4rem;
  }

  #about .about-container {
    padding: 0 4rem;
  }

  #about .about-container .content {
    width: 75%;
  }
}
@media (max-width: 879.98px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 2.1rem;
  }

  .hero .hero-message {
    width: calc(50% + 4rem);
    top: 4rem;
  }
}
@media (max-width: 767.98px) {
  header::after {
    display: none;
  }

  .hero .hero-message {
    position: relative;
    top: unset;
    padding: 4rem 0;
    width: 100%;
  }

  .hero .hero-img {
    display: none;
  }

  .projects h3 {
    position: relative;
    left: unset;
    top: unset;
    padding-top: unset;
  }

  .projects .grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    margin-top: 4rem;
  }

  .projects .grid .item-left {
    padding: 4rem 8rem 4rem 0;
  }

  .projects .grid .item-center {
    padding: 4rem 8rem;
  }

  .projects .grid .item-right {
    padding: 4rem 0 4rem 8rem;
  }
}
@media (max-width: 575.98px) {
  header nav .navbar-collapse {
    position: absolute;
    background-color: #FFC800;
    top: 5.8rem;
    left: 0px;
    width: 100%;
    padding-left: 4rem;
    padding-bottom: 1rem;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
    box-shadow: 0px 3px 3px 0px rgba(152, 139, 76, 0.5);
  }

  header nav .list-inline-item {
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }

  header nav .navbar-nav {
    display: table-caption;
  }

  h1 {
    font-size: 2.8rem;
  }

  .projects .grid .item-left {
    padding: 4rem 2rem 4rem 0;
  }

  .projects .grid .item-center {
    padding: 4rem 2rem;
  }

  .projects .grid .item-right {
    padding: 4rem 0 4rem 2rem;
  }

  #about .about-container .title {
    margin-bottom: 2rem;
    width: unset;
  }

  #about .about-container .content {
    width: 100%;
  }
}
